# Installing libraries

In [77]:
!pip install pandas
!pip install kaggle

Requirement already satisfied: pandas in c:\users\asus\anaconda3\new folder\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\new folder\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\new folder\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus\anaconda3\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus\anaconda3\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: kaggle in c:\users\asus\anaconda3\new folder\lib\site-packages (1.7.4.2)
Requirement already satisfied: bleach in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (3.4)
Requirement already satisfied: protobuf in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (68.0.0)
Requirement already satisfied: six>=1.10 in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: webencodings in c:\users\asus\anaconda3\new folder\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\asus\anaconda3\new folder\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\new folder\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [78]:
# Import pandas library
import pandas as pd

In [79]:
# Import zipfile library (we will use this to extract the file downloaded from kaggle)
import zipfile

In [80]:
# import kaggle library (we will use this to download the dataset progamatically from kaggle)
import kaggle

In [81]:
# Download the dataset from Kaggle using the kaggle API
#!/bin/bash
!kaggle datasets download hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [82]:
# Extract the file from the downloading zip file
zipfile_name = "london-bike-sharing-dataset.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [83]:
# reaad in the csv file from the downloded zip file
bikes = pd.read_csv("london_merged.csv")
print(bikes)

                 timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]

In [84]:
#explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [85]:
bikes.shape

(17414, 10)

In [86]:
# count the unique values in the whether_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [87]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [88]:
#Change the column name for better understanding
new_cols_dict ={
    "timestamp" : "time",
    "cnt" : "count",
    "t1" : "temp_real_C",
    "t2" : "temp_feels_like_C",
    "hum": "humidity_percent",
    "wind_speed": "wind_speed_kph",
    "weather_code": "weather",
    "is_holiday" : "is_holiday",
    "is_weekend" : "is_weekend",
    "season" : "season"

}

# Reanaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)
bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [89]:
# Changing the humidity values to percentage (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100    
bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2.0,0.0,0.0,3.0

In [90]:
# Mapping integers to actual season names
season_dict = { 
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0': 'winter'
}

# Mapping integers to actual weather conditions
weather_dict = {
    '1.0': 'Clear',
    '2.0': 'Scattered clouds',
    '3.0': 'Broken clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Rain with thunderstorm',
    '26.0': 'Snowfall'
}

# Changing the seasons and weather columns to string and mapping values
bikes['season'] = bikes['season'].astype('str').map(season_dict)

bikes['weather'] = bikes['weather'].astype('str').map(weather_dict)

bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter

In [91]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [92]:
# Writing the final dataframe to an excel file that we will use in our Tableau visualization.
#  The file will be "london_bikes_final.xlsx"
bikes.to_excel('london_bikes_final.xlsx', sheet_name= "Data")